**/target/
**/.settings
*/.classpath
*/.project
**/bin/
**/log.txt
**/.factorypath
.metadata/
web/.mvn/
Servers/
RemoteSystemsTempFiles/
.settings/
*.iml
**/rebel.xml
**/.project
.vscode

# IntelliJ IDEA files
.idea/**
*.log
.DS_Store
*.bak
*.jfr
